/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 * Edited by me (abdlghany dada).
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.body-s .mdl-layout__header-row {
  padding-left: 40px;
}
.body-s .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.body-s .mdl-layout__tab-bar-button {
  display: none;
}
.body-s .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.body-s .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.body-s .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.body-s .mdl-layout__tab-bar-container {
  height: 64px;
}
.body-s .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.body-s .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}
.body-s .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}
.body-s main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}
.body-s .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body-s .mdl-card > * {
  height: auto;
}
.body-s .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.body-s.body-s .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.body-s .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.body-s .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}
.body-s .mdl-card__actions a:hover,
.body-s .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.body-s .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.body-s #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}

.body-s .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.body-s section.section--center {
  max-width: 860px;
}
.body-s #features section.section--center {
  max-width: 620px;
}
.body-s section > header{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body-s section > .section__play-btn {
  min-height: 200px;
}
.body-s section > header > .material-icons {
  font-size: 3rem;
}
.body-s section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.body-s section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.body-s section .section__text {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
}
.body-s section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.body-s section .section__text a {
  text-decoration: none;
}
.body-s section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.body-s section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.body-s .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
.body-s section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.body-s section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.body-s .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.body-s .mdl-layout__tab-panel:not(#home) {
  background-color: white;
}
.body-s #features section {
  margin-bottom: 72px;
}
.body-s #features h4, #features h5 {
  margin-bottom: 16px;
}
.body-s .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body-s .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.body-s .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.body-s .mdl-menu__container {
  z-index: 99;
}

#login-button {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 80px;
      margin-bottom: 40px;
      z-index: 8;
    }

/* The Login popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin-right: 20px;
  margin-bottom: 30px;
  min-width: 300px;
  width: 350px;
  z-index: 20;
}

.circle {
  height: auto;
  width: 100%;
  border-radius: 50%;
  display: inline-block;
}
#disa{
	/*display:none;*/
	color:white;
}
#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
  color:white;
  text-decoration: none;
}
#exTab3 .ul {
}
#exTab3 .tab-content {
  padding : 5px 15px;
}
/* hide arrows from number type input in firefox then chrome safari Edge and opera.
 source: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.section {
	position: relative;
	height: 50vh;
	
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 20%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.booking-form {
	background: rgba(0, 0, 0, 0.8);
	padding: 40px;
	border-radius: 6px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 50px;
	color: #191a1e;
	border: none;
	font-size: 16px;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	padding: 0px 25px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control::placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 10px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: block;
	margin-left: 20px;
	margin-bottom: 5px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #fff;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 400;
	color: #fff;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #f23e3e;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .form-btn {
	margin-top: 27px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #f23e3e;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 100%;
	border-radius: 40px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}


